@page "/"
@inject GrpcClientFactory ClientFactory

<h1>Grpc Server to Client Streams</h1>
<br />
<br />
@if (Symbols is null)
{
    <h3>Loading ...</h3>
}
else
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Symbols)
            {
                <StockTableRow Symbol="@item"/>
            }
        </tbody>
    </table>
}

@code{
    private List<string> Symbols { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        var client = ClientFactory.StockSymbolsClient();
        Symbols = (await client.SymbolsAsync(new())).SymbolList.ToList();
    }
}
